@font-face {
  font-family: 'Oxygen';
  src: url('Oxygen-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oxygen';
  src: url('Oxygen-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oxygen';
  src: url('Oxygen-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1 {
  font-family: 'Oxygen';
  color: black;
  font-weight: bold;
}